/*
 * All custom CSS code will go in this file
*/

.border-black {
	border: 1px solid black;
}

.border-red {
	border: 1px solid red;
}

.border-blue {
	border: 1px solid blue;
}

@font-face {
	font-family: Roboto;
	src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: Roboto-Thin;
	src: url('fonts/Roboto-Light.ttf');
}

body {
	font-family: Roboto;
}
